*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
  text-align: center;
  font-size: large;
  padding: 5px; }

body {
  display: flex;
  justify-content: center;
  background-image: url(/Bilder/Scrooge.jpeg); }

.appContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 120vh;
  border: 2px solid black;
  background-color: white;
  opacity: 0.9; }

.tabs {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black; }

.tab:hover {
  cursor: pointer;
  background-color: #aaa; }

.incomeInput {
  display: flex;
  flex-wrap: nowrap; }

.inputs {
  display: flex;
  justify-content: center;
  padding: 10px; }

.btn {
  background-color: #00aaff;
  border: 1px solid #00aaff;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none; }

.btn:hover {
  border-color: black; }

h2 {
  text-align: center; }

h1 {
  text-align: center;
  color: blueviolet; }

[data-tab-content] {
  display: none; }

.active[data-tab-content] {
  display: block; }
